<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
<%
=begin
%>
    <div class="grid grid-cols-12 h-screen ">
      <div class="col-span-2 md:col-span-3 border flex justify-end">
        <%= render "shared/leftbar" %>
      </div>
      <div class="col-span-10 md:col-span-6 border">
        <%= render "shared/navbar" %>
        <%= yield %>
      </div>
      <div class="col-span-3 md:block hidden border">
        <%= render "shared/rightbar" %>
      </div>
    </div>
<%
=end
%>
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
