<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="grid grid-cols-12">
      <div class="lg:col-span-3 col-span-2 border">
        <%= render "shared/sidebar" %>
      </div>
      <div class="lg:col-span-5 md:col-span-6 col-span-10">
        <%= render "shared/navbar" %>
        <%= yield %>
      </div>
      <div class="lg:col-span-4 md:col-span-4 md:block hidden border">
        <%= render "shared/searchbar" %>
      </div>
    </div>
  </body>
</html>
